<%= form_tag :action=>"change_password" do %>

  <label for="user_login">name:</label><br/>
  <%= text_field "user", "name", :size => 20 %><br/>

  <label for="user_login">old pass:</label><br/>
  <%= text_field "user", "password", :size => 20 %><br/>

  <label for="user_login">new pass:</label><br/>
  <%= text_field "user", "new_password", :size => 20 %><br/>

  <%= submit_tag "submit" %>

<%end%>
