<%= link_to "New User", users_signup_path %><br>
<%= link_to "Login", users_login_path %><br>

<%= link_to "Change Password", users_change_password_path %><br>


<h4>List of Users </h4><br>


<% @user_details.each do |details| %>
  <%= details.name %>   <%= details.email %>
<%end%>
